@dark-color-blue: #1b2032;
@more-dark-color-blue: #141725;

@dark-color-gray: #0f1015;
@more-dark-color-gray: #01040e;

@dark-color: #3d445e;
@middle-color: #3b8e96;
@light-color: #4eb4b0;

@gray-color: #d8d7d6;
@light-gray-color: #f2f2f2;

.sidebar {
  background: @dark-color-blue;
}